@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Do you like our site? You can support us instead of leaving review. Monobank: 4441 5463 3454 1612 </p>
</div>
